.App {
  text-align: center;
  justify-content: center;
}
body {
  background-image: url("../src/assets/avion1.avif");
  background-attachment: scroll;
  background-size: cover;
  margin: 0;
  color: white;
}
