.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
  min-height: calc(100vh - 40px);
  position: relative;
  padding-bottom: 50px;
  column-gap: 100px;
  row-gap: 50px;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  background-color: #555555;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #777777;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  padding: 10px 15px;
  margin: 0;
  border-radius: 5px;
  background-color: #555555;
  color: white;
  font-size: 14px;
}

.filtersContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.selects {
  font-size: 16px;
  border-radius: 5px;
  background-color: #999696;
  color: white;
  padding: 5px 10px;
}

.selects option {
  background-color: #999696;
  color: white;
}
