.container {
  display: flex;
  flex-direction: column;
  animation: slide-up 1s ease;
  overflow: hidden;
}

@keyframes slide-up {
  from {
    transform: translateY(20%);
    opacity: 0.2;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.detailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.information {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 9px 12px 5px rgb(0 0 0 / 50%);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.flagImg {
  height: 225px;
  width: 200px;
  width: 100%;
  border-radius: 10px;
}

.actContainer {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 9px 12px 5px rgb(0 0 0 / 50%);
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.activities {
  background-color: rgb(125, 158, 241);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homeBtn {
  height: 30px;
  border-radius: 10px;
  box-shadow: 10px 9px 12px 5px rgb(0 0 0 / 50%);
}

.createBtn {
  height: 30px;
  border-radius: 10px;
}

.loading {
  width: 100px;
}
